<template>
  <div class='trends-item'>
    <div class='trends-title flex row xstart'>
      <span :style='iconColor'><font-awesome-icon icon="circle"/></span>
      <div>{{ this.regionKey | capitalize }}</div>
    </div>
    <div class='trends-data'>
      {{ startYearJobs.toLocaleString() }}
    </div>
    <div class='trends-data'>
      {{ endYearJobs.toLocaleString() }}
    </div>
    <div class='trends-data'>
      {{ numChange.toLocaleString() }}
    </div>
    <div class='trends-data'>
      {{ percChange }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'TrendsItem',
  props: {
    data: Object,
    regionKey: String,
    color: String
  },
  computed: {
    trendComparison () {
      return this.data.trend_comparison
    },
    startYearJobs () {
      return this.trendComparison[this.regionKey][0]
    },
    endYearJobs () {
      return this.trendComparison[this.regionKey][this.yearSpan - 1]
    },
    iconColor () {
      return `color: ${this.color} !important;`
    },
    yearSpan () {
      return this.trendComparison[this.regionKey].length
    },
    numChange () {
      return this.endYearJobs - this.startYearJobs
    },
    percChange () {
      return parseFloat(this.numChange / this.startYearJobs * 100).toFixed(1) + '%'
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss'>
@import '@/assets/variables.scss';

.trends-item {
  // So that dynamic bar fill resizing will work positioned absolutely.
  position: relative;
  border-top: $line-item-border solid 1px;
  border-bottom: $line-item-border solid 1px;
  margin: -1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  flex-grow: 1;

  .trends-title {
    flex-grow: 1;
    font-weight: 800;
    svg {
      padding: 2px 4px 0 4px;
    }
  }

  svg {
    height: 10px !important;
    width: 10px !important;
  }

  .trends-data {
    text-align: right;
    width: 100px;
    width: 100px;
    flex-grow: 0;
  }
}
</style>
