<template>
  <div class="percent-change-over-time-chart">
    <vue-c3 :handler="chartHandler"></vue-c3>
  </div>
</template>

<script>
import Vue from 'vue'
import VueC3 from 'vue-c3'

export default {
  name: 'PercentChangeOverTimeChart',
  components: {
    VueC3
  },
  props: {
    trendComparison: Object
  },
  data () {
    return {
      chartHandler: new Vue()
    }
  },
  methods: {
    calcPercentChange: function (arr) {
      let newArr = [0]
      for (let i = 1; i < arr.length; i++) {
        let change = arr[i] - arr[i - 1]
        let percChange = (change / arr[i]) * 100
        newArr.push(percChange)
      }
      return newArr
    }
  },
  mounted () {
    const options = {
      size: {
        height: 280
      },
      data: {
        x: 'x',
        y: 'y',
        columns: [
          // TODO where is the range of the x-axis specified? Should it be created dynamically?
          ['x', 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025],
          ['regional', ...this.calcPercentChange(this.trendComparison.regional)],
          ['state', ...this.calcPercentChange(this.trendComparison.state)],
          ['nation', ...this.calcPercentChange(this.trendComparison.nation)]
        ],
        colors: {
          regional: '#152245',
          state: '#1377ba',
          nation: '#a1d3fa'
        }
      },
      axis: {
        x: {
          type: 'indexed'
        },
        y: {
          max: 70,
          min: -20
        }
      },
      legend: {
        show: false
      },
      grid: {
        x: {
          // TODO Dynamically space gridlines according to media width and in accordance with mockup.
          show: true
        }
      },
      regions: [
        {
          axis: 'x',
          start: this.trendComparison.start_year,
          end: this.trendComparison.end_year,
          class: 'c3-percent-change-over-time-region'
        }
      ]
    }
    this.chartHandler.$emit('init', options)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.c3-percent-change-over-time-region {
  fill: yellow !important;
  fill-opacity: 0.2 !important;
}
</style>
