<template>
  <div class='industry-item'>
    <!-- Background fill will correspond to percentage of occupation in industry -->
    <div class='industry-percentage-fill' :style='fillPercentage'></div>
    <div class='industry-title flex row xstart'>
      <font-awesome-icon icon="building" />
      <div>{{ industry.title }}</div>
    </div>
    <div class='industry-data'>
      {{ Number(industry.in_occupation_jobs).toLocaleString() }}
    </div>
    <div class='industry-data'>
      {{ percTotalJobsInIndustry }}
    </div>
    <div class='industry-data'>
      {{ percOccupationInIndustry }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndustryItem',
  props: {
    jobs: Number,
    industry: Object
  },
  computed: {
    fillPercentage () {
      return `width: ${this.percTotalJobsInIndustry}`
    },
    percOccupationInIndustry () {
      return parseFloat(this.industry.in_occupation_jobs / this.industry.jobs * 100).toFixed(1) + '%'
    },
    percTotalJobsInIndustry () {
      return parseFloat(this.industry.in_occupation_jobs / this.jobs * 100).toFixed(1) + '%'
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss'>
@import '@/assets/variables.scss';

.industry-item {

  .industry-percentage-fill {
    position: absolute;
    height: 100%;
    background: $line-item-fill;
    z-index: -10;
  }
  // So that dynamic bar fill resizing will work positioned absolutely.
  position: relative;
  border-top: $line-item-border solid 1px;
  border-bottom: $line-item-border solid 1px;
  margin: -1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  flex-grow: 1;

  .industry-title {
    color: $primary;
    font-weight: 800;
    flex-grow: 1;
    svg {
      padding: 2px 4px 0 4px;
    }
  }

  svg {
    height: 12px !important;
    width: 12px !important;
  }

  .industry-data {
    text-align: right;
    width: 100px;
    width: 100px;
    flex-grow: 0;
  }
}
</style>
