<template v-if='childDataLoaded'>
  <div class='occupation-overview'>
    <h1>Occupation Overview</h1>
    <h5 style='margin: 0; border: none;'>{{ this.data.occupation.title }} in {{ this.data.region.title }}</h5>
    <OccupationSummary :data='data'></OccupationSummary>
    <OccupationRegionalTrends :data='data'></OccupationRegionalTrends>
    <OccupationIndustries :data='data'></OccupationIndustries>
  </div>
</template>

<script>

import OccupationSummary from '@/components/OccupationSummary.vue'
import OccupationRegionalTrends from '@/components/OccupationRegionalTrends.vue'
import OccupationIndustries from '@/components/OccupationIndustries.vue'

import api from '@/onet-api'

export default {
  name: 'occupation-overview',
  components: {
    OccupationSummary,
    OccupationRegionalTrends,
    OccupationIndustries
  },
  data: function () {
    return {
      childDataLoaded: false,
      data: {},
      dummyRequest: {
        'occupation': '15-1131',
        'area_type': 'msa',
        'area_code': '42660'
      }
    }
  },
  methods: {
    hydrateOccupation () {
      // These variables would probably come from the URL query params
      api.fetchOccupationByArea(
        this.dummyRequest
      ).then(res => {
        this.data = res.data
        this.childDataLoaded = true
        console.log('OccupationOverview data:')
        console.log(this.data)
      }).catch(err => {
        console.warn(err)
      })
    }
  },
  mounted () {
    this.hydrateOccupation()
  }
}
</script>
