<template>
  <div class="occupation-regional-trends">
    <h5>Regional Trends</h5>
    <PercentChangeOverTimeChart :trendComparison='this.data.trend_comparison'></PercentChangeOverTimeChart>
    <div class='trends-item header'>
      <div class='trends-title flex row xstart'>
        <div>Region</div>
      </div>
      <div class='trends-data'>
        {{ this.data.trend_comparison.start_year }} Jobs
      </div>
      <div class='trends-data'>
        {{ this.data.trend_comparison.end_year }} Jobs
      </div>
      <div class='trends-data'>
        Change
      </div>
      <div class='trends-data'>
        % Change
      </div>
    </div>
    <TrendsItem :data='data' regionKey='regional' color='#152245'></TrendsItem>
    <TrendsItem :data='data' regionKey='state' color='#1377ba'></TrendsItem>
    <TrendsItem :data='data' regionKey='nation' color='#a1d3fa'></TrendsItem>
  </div>
</template>

<script>
import PercentChangeOverTimeChart from './charts/PercentChangeOverTimeChart.vue'
import TrendsItem from './occupation-regional-trends/TrendsItem.vue'

export default {
  name: 'OccupationRegionalTrends',
  components: {
    PercentChangeOverTimeChart,
    TrendsItem
  },
  props: {
    data: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/assets/variables.scss';

.trends-item.header {
  font-weight: 900;
  .trends-title {
    color: $body-text !important;
  }
}
</style>
