<template>
  <div class="occupation-summary">
    <h5>Occupation Summary for {{ data.occupation.title }}</h5>
    <div class="flex row wrap center">
      <div class="data-card job-count">
        <div class="data-figure">
          {{ data.summary.jobs.regional.toLocaleString() }}
        </div>
        <div>
          Jobs ({{ data.summary.jobs.year }})
        </div>
        <div>
          {{ calcPercentDiffString(data.summary.jobs.regional, data.summary.jobs.national_avg).percentage }}%
          <span class="jobs-national-average" :class='calcPercentDiffString(data.summary.jobs.regional, data.summary.jobs.national_avg).klass'>{{ calcPercentDiffString(data.summary.jobs.regional, data.summary.jobs.national_avg).direction }}</span> national average
        </div>
      </div>
      <div class="data-card percent-change">
        <div class="data-figure">
          <!-- TODO add plus or minus sign -->
          <span :class='directionClass(data.summary.jobs_growth.regional)'>{{ directionSign(data.summary.jobs_growth.regional) }}{{ data.summary.jobs_growth.regional }}%</span>
        </div>
        <div>
          % Change ({{ data.summary.jobs_growth.start_year }}-{{ data.summary.jobs_growth.end_year }})
        </div>
        <div>
          <!-- TODO add filter for plus or minus sign -->
          Nation:<span :class='directionClass(data.summary.jobs_growth.national_avg)' >{{ directionSign(data.summary.jobs_growth.national_avg) }}{{ data.summary.jobs_growth.national_avg }}%</span>
        </div>
      </div>
      <div class="data-card median-hourly-earnings">
        <div class="data-figure">
          ${{ data.summary.earnings.regional }}/hr
        </div>
        <div>
          Median Hourly Earnings
        </div>
        <div>
          Nation: ${{ data.summary.earnings.national_avg }}/hr
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OccupationSummary',
  props: {
    data: Object
  },
  computed: {
    // TODO: Put more of the template logic here.
    regional () {
      return this.data.summary.jobs.regional
    },
    nationalAvg () {
      return this.data.summary.jobs.national_avg
    }
  },
  methods: {
    calcPercentDiffString (regional, nationalAvg) {
      let avg = (regional + nationalAvg) / 2
      let diff = regional - nationalAvg
      let perc = Math.round(diff / avg * 100)
      let direction = perc > 0 ? 'above' : 'below'
      let klass = direction
      return {
        percentage: perc,
        direction: direction,
        klass: klass
      }
    },
    directionClass (direction) {
      return direction > 0 ? 'above' : 'below'
    },
    directionSign (direction) {
      return direction > 0 ? '+' : '–'
    }
  }
  // TODO calc national average change
  // data: function () {
  //   return {
  //     occupation: {}
  //   }
  // },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/variables.scss";
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.data-card {
  display: flex;
  flex-grow: 1;
  height: 115px;
  font-size: 12px;
  min-width: 240px;
  flex-direction: column;
  border: 2px solid $data-card-border;
  margin: -2px -1px -1px -1px;
  text-align: center;
  justify-content: center;
  .data-figure {
    font-size: 1.5rem;
  }

  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }

  .jobs-national-average {
    font-weight: 800;
  }
  span.above {
    color: $success;
  }
  span.below {
    color: $danger;
  }
}

</style>
