<template>
  <div class="occupation-industries">
    <h5>Industries Employing {{ data.occupation.title }}</h5>
    <div class="industry-item header">
      <div class='industry-title flex row xstart'>
        Industry
      </div>
      <div class='industry-data'>
        Occupation Jobs<br>in Industry<br>({{ data.summary.jobs.year }})
      </div>
      <div class='industry-data'>
        % of Occupation<br>in Industry<br>({{ data.summary.jobs.year }})
      </div>
      <div class='industry-data'>
        % of Total<br>Jobs in<br>Industry<br>({{ data.summary.jobs.year }})
      </div>
    </div>
    <IndustryItem v-for="(industry, index) in data.employing_industries.industries" :key="index" :industry="industry" :jobs="data.employing_industries.jobs"></IndustryItem>
  </div>
</template>

<script>
import IndustryItem from '@/components/occupation-industries/IndustryItem.vue'

export default {
  name: 'OccupationIndustries',
  components: {
    IndustryItem
  },
  props: {
    data: Object
  },
  mounted () {
    // console.log('OccupationIndustries data: ')
    // console.log(this.data)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/assets/variables.scss';

.industry-item.header {
  height: 64px;
  font-weight: 900;
  .industry-title {
    color: $body-text !important;
  }
}
</style>
