@import 'flexi.css';
@import 'variables.scss';

.occupation-overview {
  text-align: left;
  width: 80%;
  min-width: 550px;
  margin: 0 auto;
  margin-bottom: 100px;
  h1, h5 {
    margin: 20px 0 0 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
  }
  h5 {
    font-size: .9rem;
    padding: 15px 0 0 5px;
    border-bottom: $delineator 2px solid;
  }
}