<template>
  <div id="app">
    <div id="nav">
      <!-- <router-link to="/">Occupation Overview</router-link> | -->
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
@import '@/assets/variables.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $body-text;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
